@namespace ManaApp.Components

<div class="modal-backdrop">
    <div class="modal-window">

        <h3>Ražošanas plāna izveide</h3>

        <label class="panel-label">Ražošanas plāna kods *</label>

        <input class="form-control"
               placeholder="GADA BURTS & NEDĒĻAS NUMURS"
               @bind="planCode"
               @bind:event="oninput" />

        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
        {
            <div class="error-text">@ErrorMessage</div>
        }

        <div class="modal-actions">
            <button class="panel-btn primary"
                    disabled="@string.IsNullOrWhiteSpace(planCode)"
                    @onclick="Confirm">
                Apstiprināt
            </button>

            <button class="panel-btn outline" @onclick="Cancel">
                Atcelt
            </button>
        </div>

    </div>
</div>

@code {
    [Parameter] public EventCallback<string> OnConfirm { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public string? ErrorMessage { get; set; }

    private string planCode = "";

    private async Task Confirm()
    {
        await OnConfirm.InvokeAsync(planCode.Trim());
    }

    private async Task Cancel()
    {
        await OnCancel.InvokeAsync();
    }

[Inject] private IJSRuntime JS { get; set; } = default!;
private DotNetObjectReference<CreatePlanDialog>? objRef;

protected override async Task OnAfterRenderAsync(bool firstRender)
{
    if (firstRender)
    {
        objRef = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("createPlanDialogEsc", objRef);
    }
}

[JSInvokable]
public async Task CloseFromEsc()
{
    await OnCancel.InvokeAsync();
}
}
