
.ptv2-tasks-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr auto;
    align-items: center;
}

.ptv2-tasks-row.sub {
    padding-left: 1rem;
}

.ptv2-tasks-row.sub.step {
    font-weight: 600;
    background: #f5f5f5;
}

.ptv2-tasks-row.sub.task {
    background: #fafafa;
}
