@using ManaApp.Models
@using ManaApp.Components

<div class="ptv2-tasks-grid">

    <div class="ptv2-tasks-header">
        <div>NOSAUKUMS</div>
        <div>GATAVS</div>
        <div>APJOMS</div>
        <div>PIEŠĶIRTS</div>
        <div>PIEŅĒMA</div>
        <div>SĀKUMS</div>
        <div>PABEIGTS</div>
        <div>KOMENTĀRS</div>
        <div></div>
    </div>

    <!-- ŠEIT VĒLĀK NĀKS xxxTasks.razor -->
<div class="ptv2-tasks-section">

    <div class="ptv2-tasks-subheader">DETAIL</div>
    <DetailTasks SelectedBatch="SelectedBatch" />

    <div class="ptv2-tasks-subheader">ASSEMBLY</div>
    <AssemblyTasks SelectedBatch="SelectedBatch" />

    <div class="ptv2-tasks-subheader">FINISHING</div>
    <FinishingTasks SelectedBatch="SelectedBatch" />

</div>


</div>

@code {
    [Parameter] public ProductBatchRow? SelectedBatch { get; set; }
}
