/* ===== 4. BOX – DETAIL / ASSEMBLY / FINISHING (ISOLATED) ===== */

.ptv2-tasks-grid {
    --ptv2-cols:
    1.8fr      /* Nosaukums */
    0.4fr    /* Gatavs */
    0.6fr    /* Apjoms */
    1.2fr    /* Piešķirts */
    1fr      /* Pieņēma */
    1fr      /* Sākums */
    1fr    /* Pabeigts */
    4.5fr    /* tukšā / rezerves */
        /* Komentārs – LIELĀKS, bet bez scroll */
    0.4fr;   /* Done – ŠAURS */

    display: grid;
    grid-template-columns: var(--ptv2-cols);

    width: 100%;
    overflow-x: auto;
    }


.ptv2-tasks-header {
    display: grid;
    grid-template-columns: inherit;
    grid-column: 1 / -1;

    background: #14d65e;          /* tumši pelēks */
    border-bottom: 1px solid #171718;
    border-radius: 10px 10px 0 0; /* noapaļoti ārējie stūri */

    height: 28px;
    align-items: center;

    font-size: 11.5px;            /* mazliet mazāks fonts */
    font-weight: 600;
}

.ptv2-tasks-header > div {
    padding: 0 6px;
    line-height: 1.1;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #1a1717;               /* kontrasts uz zaļā fona */
}


.ptv2-tasks-section {
    display: flex;
    flex-direction: column;

    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: visible;

    grid-column: 1 / -1;
}


.ptv2-tasks-header {
    display: grid;
    grid-template-columns: inherit;
}


.ptv2-tasks-subheader {
    grid-column: 1 / -1;

    background: #c9f3c9;          /* gaišāks par header */
    color: #1f2c1d;

    font-weight: 500;
    font-size: 12px;

    padding: 4px 4px;
    border-top: 1px solid #d1d5db;
    border-bottom: 1px solid #d1d5db;
}



.ptv2-tasks-block {
    grid-column: 1 / -1;
    width: 100%;
    overflow-x: hidden;
}

/* labojums 27.01.2026 */

/* Pēdējā kolonna (Done) – pie pašas labās malas */
.ptv2-tasks-header > div:last-child,
.ptv2-tasks-row > div:last-child {
    justify-self: end;
    padding-right: 0;
    text-align: right;
}
