@using Microsoft.AspNetCore.Components.Routing

<div class="app-sidebar">
    <div class="app-sidebar-title">SIA FMM</div>

    <nav class="app-nav">
        <NavLink class="app-nav-link" href="/products" Match="NavLinkMatch.All">
            Katalogs
        </NavLink>

        <NavLink class="app-nav-link" href="/planning">
            Plānošana
        </NavLink>

        <NavLink class="app-nav-link" href="/productiontasks">
            Ražošanas plāni
        </NavLink>

        <NavLink class="app-nav-link" href="/productiontasks-v2">
            Ražošanas plānošana
        </NavLink>

        <NavLink class="app-nav-link" href="/sales">
            Izdošana
        </NavLink>
    
    </nav>
</div>

