@using Microsoft.AspNetCore.Components.Routing

<div class="app-sidebar">
    <div class="app-sidebar-title">Izvēles logs</div>

    <nav class="app-nav">
        <NavLink class="app-nav-link" href="/products" Match="NavLinkMatch.All">
            Katalogs
        </NavLink>

        <NavLink class="app-nav-link" href="/planning">
            Plānošana
        </NavLink>

        <NavLink class="app-nav-link" href="/productiontasks">
            Ražošanas plāni
        </NavLink>

        <NavLink class="app-nav-link" href="/sales">
            Pārdošana
        </NavLink>
    
    </nav>
</div>
