:global(.productsGrid .e-columnheader){
    background:#93c5fd !important;
}

:global(.productsGrid .e-columnheader .e-headercell){
    background:#93c5fd !important;
}

:global(.productsGrid .e-columnheader .e-headertext){
    color:#0f172a !important;
    font-weight:600 !important;
}