.tt-node {
    position: relative;
}

.tt-row {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 34px;

    gap: 8px;
    cursor: pointer;

    border-radius: 4px;
}

.tt-row.selected {
    background: #dbeafe;
}

.tt-expand {
    width: 18px;
    flex-shrink: 0;
}

.tt-expand button {
    width: 18px;
    height: 18px;

    padding: 0;

    border: 1px solid #cbd5e1;
    background: white;

    color: #64748b;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.tt-icon {
    width: 18px;
    text-align: center;
    flex-shrink: 0;
}

.tt-type {
    min-width: 70px;

    font-size: 12px;
    font-weight: 700;

    flex-shrink: 0;
    white-space: nowrap;
}

.tt-type.top-part {
    color: #2563eb;
}

.tt-type.sub-part {
    color: #60a5fa;
}


.tt-title {
    flex: 1;
    min-width: 0;

    font-size: 14px;
    color: #111827;
}

.tt-actions {
    min-width: 110px;

    display: flex;
    justify-content: flex-end;
}

.tt-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 18px;
    padding: 0 6px;

    font-size: 10px;
    font-weight: 600;

    border-radius: 3px;

    color: #2563eb;
    background: #eff6ff;
    border: 1px solid #bfdbfe;
}

.tt-icon.node-type-2,
.tt-icon.node-type-2,
.tt-type.node-type-2 {
    color: #16a34a;
}

.tt-icon.node-type-3,
.tt-type.node-type-3 {
    color: #f97316;
}

.tt-icon.node-type-4,
.tt-type.node-type-4 {
    color: #7c3aed;
}

.tt-icon.top-part,
.tt-type.top-part {
    color: #2563eb;
}

.tt-icon.sub-part,
.tt-type.sub-part {
    color: #60a5fa;
}

.tt-children {
    position: relative;

    margin-left: 9px;
    padding-left: 28px;
}

.tt-node {
    position: relative;
}

/* .tt-children > .tt-node::before {
    content: "";

    position: absolute;

    left: -19px;
    top: 17px;

    width: 19px;
    height: 1px;

    background: #d6dbe5;
} */

/* .tt-children::before {
    content: "";

    position: absolute;

    left: 9px;
    top: 0;
    bottom: 18px;

    width: 1px;

    background: #d6dbe5;
} */

/* .tt-node > .tt-children > .tt-node::before {
    content: "";

    position: absolute;

    left: -19px;
    top: 17px;

    width: 19px;
    height: 1px;

    background: #d6dbe5;
} */