.main-layout {
    display: flex;        /* liek bērnus rindā */
    gap: 24px; 

    width: 100%;
    box-sizing: border-box;
    margin-top: 16px;   /* lai nepielīp no augšas */
    height: calc(100vh - 200px);

    background: #ffffff;        /* balts fons */
    border-radius: 10px;        /* noapaļoti stūri */
    padding: 10px;              /* iekšējā atkāpe */
    border: 1px solid #e0e0e0;  /* viegla maliņa *//* atstarpe starp blokiem */
}

.left-panel {
    flex: 1;
    min-width: 0; /*lai tabula ir tik cik vajag, nevis pēc satura */
    overflow-x: auto;

    background: #f7f7f7;
    border-radius: 8px;
    padding: 10px;              
}

.right-panel {
    flex: 1; 
    height: 100%;
    min-width: 0; /*lai tabula ir tik cik vajag, nevis pēc satura */
    background: #f7f7f7;
    border-radius: 8px;
    padding: 10px;             
}
