@using ManaApp.Shared
@using ManaApp.Models


<div class="products-toolbar">

    <div class="root-switch">
    <div class="root-switch-track">
        <div class="root-switch-thumb @(SelectedView == ProductViewType.Adapteris ? "right" : "")"></div>

        <button type="button"
                class="root-switch-btn left @(SelectedView == ProductViewType.Kauss ? "active" : "")"
                @onclick="() => SelectedViewChanged.InvokeAsync(ProductViewType.Kauss)">
            Kauss
        </button>

        <button type="button"
                class="root-switch-btn right @(SelectedView == ProductViewType.Adapteris ? "active" : "")"
                @onclick="() => SelectedViewChanged.InvokeAsync(ProductViewType.Adapteris)">
            Adapteris
        </button>
    </div>
</div>

    <div class="products-search-wrap">
        <input class="products-search"
               type="text"
               placeholder="Meklēt..."
               value="@SearchText"
               @oninput="e => SearchTextChanged.InvokeAsync(e.Value?.ToString())" />

        <button type="button"
                class="products-clear"
                title="Notīrīt"
                @onclick="() => SearchTextChanged.InvokeAsync(string.Empty)">
            ✕
        </button>
    </div>


    <button type="button"
            class="products-btn"
            @onclick="OnDownloadExcel">
        EXCEL
    </button>

</div>


@code {
    [Parameter] public string SearchText { get; set; } = "";
    [Parameter] public EventCallback<string> SearchTextChanged { get; set; }

    [Parameter] public EventCallback OnDownloadExcel { get; set; }

    [Parameter] public ProductViewType SelectedView { get; set; }

    [Parameter] public EventCallback<ProductViewType> SelectedViewChanged { get; set; }


}
