.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.popup-box {
    background: white;
    width: 800px;
    max-width: 95%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}